.exit-button {
    font-size: 70px;
    width:85px;
    height:85px;
    background-color:red;
    border-radius:2px;
    border-color:transparent;
    color:white;
    position:fixed;
    top: 2px;
    right:2px;
}
.exit-button-active {
    background-color:darkred;
}