* {
    color: white;
    font-family: monospace;
    user-select: none;
    background-color: black;
    font-size: 20px;
    overflow-wrap: break-word;
    margin: 0 0;
}
h1 {
    margin: 8px 8px;
    font-size: 30px;
}
p {
    margin: 5px 5px;
}
#error {
    color: lightcoral;
}

#exception {
    display: block;
    font-size: 12px;
    margin: 10px 10px;
    background-color: darkred;
    color: white;
    box-sizing: border-box;
    width: 95%;
    resize: none;
    border: none Transparent;
    overflow: auto;
}